body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #ffffff;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1e1e2f;
}

.login-form {
  background-color: #1e1e2f;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  
}

.logo h1 {
  font-size: 5opx;
}

h2 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  margin-top: 0.5rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.primary-btn {
  background-color: #7b2bb5;
  color: #ffffff;
}

.google-btn {
  background-color: #7b2bb5;
  color: #ffffff;
}

.separator {
  text-align: center;
  margin: 1rem 0;
  color: #ffffff;
}

.signup-link {
  text-align: center;
}

.signup-link a {
  color: #7b5af8;
}

.login-image img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}
.forgot-password-link a {
  color: #9a86fd; /* Choose a color that matches your design */
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}
